@keyframes BackgroundAnimation {
    0% {background-size: 100% 100%;}
    50% {background-size: 300% 300%;}
    100% {background-size: 100% 100%;}
}

body {
    background-image: repeating-linear-gradient(45deg,red,orange,rgb(255, 229, 180));
    background-repeat: no-repeat;
    overflow: hidden;
    animation:  BackgroundAnimation 3s linear infinite;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1.Status {
    font-size: 15px;
    text-align: center;
    color: white;
}


h1.MainHeader {
    font-size: 50px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: bisque;
}


h1.BigHeader {
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px white;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

button.mp4 {
    position: absolute;
     left: 55%;
    bottom: 45%;
    transform: translate(-50%,-50%);
}

button.mp3 {
    position: absolute;
     left: 45%;
    bottom: 45%;
    transform: translate(-50%,-50%);
}

textarea {
    width: 450px;
    height: 125px;
    resize: none;
    border-radius: 10px;
}

textarea.MusicInput {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}



.BlackBorder {
    border: 10px solid black;
    border-radius: 20px;

    height: 125px;
    width: 3000px;
    background-color: black;

    opacity: 0.5;


}


.BlackBorder.Top {
    position: absolute;
    top: 0;
    left: 50%;
    transform :translate(-50%,-50%);
}

.BlackBorder.Bottom {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform :translate(-50%,-50%);
}